In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("data-master/movielens/movies.csv")
ratings = pd.read_csv("data-master/movielens/ratings.csv")

In [16]:

print(movies.shape[0])
print(ratings.shape[0])

9125
100004

In [27]:
#movies[movies.title.str.contains("Godfather")]
movies[movies.title.apply(lambda v: "Godfather" in v)]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [ ]:
movieID=movies[movies.title.apply(lambda v: "Godfather, The (1972)" in v)].movieId.item()
print(movieID)
len(ratings[ratings.movieId.apply(lambda v: v==movieID)])

In [56]:
ratings.groupby("movieId").rating.mean()
ratings.groupby("movieId").rating.agg(["mean","count"])

             mean  count
movieId
1        3.872470    247
2        3.401869    107
3        3.161017     59
4        2.384615     13
5        3.267857     56
6        3.884615    104
7        3.283019     53
8        3.800000      5
9        3.150000     20
10       3.450820    122
11       3.689024     82
12       2.861111     18
13       3.937500      8
14       3.451613     31
15       2.318182     11
16       3.948864     88
17       3.924419     86
18       3.288462     26
19       2.597826     92
20       2.538462     13
21       3.536842     95
22       3.355263     38
23       3.090909     22
24       3.044118     34
25       3.742574    101
26       4.100000      5
27       3.142857      7
28       4.083333     18
29       4.025000     40
30       4.050000     10
...           ...    ...
158238   3.750000      2
158314   4.500000      1
158528   3.500000      1
158956   4.000000      1
159093   2.000000      2
159462   3.000000      1
159690   2.000000      1
159755   1.000000      1
159858   3.750000      2
159972   0.500000      1
160080   1.000000      1
160271   2.500000      1
160438   4.250000      2
160440   1.500000      1
160563   2.500000      2
160565   2.000000      1
160567   4.000000      1
160590   5.000000      1
160656   3.500000      1
160718   4.000000      1
161084   2.500000      1
161155   0.500000      1
161594   3.000000      1
161830   1.000000      1
161918   1.500000      1
161944   5.000000      1
162376   4.500000      1
162542   5.000000      1
162672   3.000000      1
163949   5.000000      1

[9066 rows x 2 columns]

In [77]:
ratings[ratings.movieId == 858].rating.agg(["mean","count"])

mean       4.4875
count    200.0000
Name: rating, dtype: float64

In [87]:
ratings.groupby("movieId").rating.agg(["count","mean"]).query("count>100").shape

(149, 2)

In [107]:
avg=ratings.groupby("movieId").rating.agg(["count","mean"]).query("count>100").sort_values("mean",ascending=False).iloc[:10,1:2]
#avg.merge(movies, on = "movieId")[["movieId", "mean", "title"]]

In [108]:
ratings.groupby("movieId").rating.agg(["count","mean"]).sort_values("mean",ascending=False).iloc[:10,1:2]

         mean
movieId
163949    5.0
71180     5.0
51471     5.0
52617     5.0
53887     5.0
54251     5.0
54328     5.0
55555     5.0
56869     5.0
57038     5.0

In [73]:
ratings.groupby("movieId").a

200

KeyError: False